body {
    margin: 0;
}

header {
    background-color: rgb(111, 162, 145);
    padding: 10px;
}

.header-img {
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.title {
    display: inline-block;
    color: rgb(85, 107, 175);
    font-size: 30px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    list-style-type: none;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: large;
}

nav a:hover {
    background-color: rgb(41, 27, 78);
    color: white;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(111, 158, 198);
    padding: 10px;
    top: 100%;
    left: 0;
    border-radius: 20px;
    width: max-content; 
    z-index: 1; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 5px 0;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 10px;
    }
    nav a {
        font-size: medium;
    }
    .header-img {
        width: 80px;
        height: 80px;
    }
}
