.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    background-color:rgb(241, 106, 106);
    padding:30px;
    margin:10px;
}
.grid{
    background-color:rgb(166, 154, 160);
    text-align:center;
    width:150px;
   padding:30px;
   margin:30px;
   border-radius:30px;
   border-color: rgb(219, 103, 103);
   
}
img{
    border-radius:30px;
}
.grid h1{
    height:10px;
    font-size:small;

}
@media screen and (max-width:600px){
    .container{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        background-color:rgb(241, 106, 106);
        padding:30px;
        margin:10px;
    }
    .grid{
        background-color:rgb(166, 154, 160);
        text-align:center;
        width:150px;
       padding:30px;
       margin:30px;
       border-radius:30px;
       border-color: rgb(219, 103, 103);
       
    }
    img{
        border-radius:30px;
    }
    .grid h1{
        height:10px;
        font-size:small;
    
    }
}